<div class='container'>
	<h1 class="page-header text-center">DASHBOARD</h1>
</div>
<div class='container'>
	<h4 class='page-header text-center'>Welcome to your dashboard, {{{user.username}}}</h4>
</div>
<div class='container'>
	<h3 class='text-center'>ORIGINAL FILES</h3>
	<div id='original' class='row'>
		<ul id='originallist'>
			{{#each org}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
	<br>
	<h3 class='text-center'>REMIXED FILES</h3>
	<div id='remixed' class='row'>
		<ul id='remixedlist'>
			{{#each rem}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
</div>
<script type="text/javascript" src="/jsc3d.js"></script>
<script type="text/javascript" src="/jsc3d.touch.js"></script>
<script type="text/javascript" src="/jsc3d.console.js"></script>
<script type="text/javascript" src="/external/Sonic/sonic.js"></script>
<script type="text/javascript">
	window.onload = function () {
		let z = document.getElementById('original');
		let x = document.getElementById('originallist');
		let items = x.getElementsByTagName('li');
		x.style.display = 'none';
		if (items.length == 0) {
			var res = document.createElement('h4');
			res.style = 'width:120%';
			res.innerHTML = 'There are no designs to display';
			res.align = 'center';
			z.appendChild(res);
		}
		//CREATE DIV AND CARD FOR EACH DESIGN
		for (let i = 0; i < items.length; i++) {
			var card = document.createElement('div');
			card.setAttribute("class", "col-sm-4");
			card.setAttribute("style", "padding-bottom:10px");
			card.id = 'co' + i.toString();
			z.appendChild(card);
			var dd = document.createElement('div');
			var linker = document.createElement('a');
			linker.setAttribute('href', '/users/design' + items[i].innerHTML.toString());
			linker.id = 'ao' + i.toString();
			var p = document.createElement('p');
			p.innerHTML = items[i].innerHTML.toString().replace(/\/\w+?\//g, '');
			p.align = 'center';
			p.setAttribute("class", "card-header");
			dd.setAttribute("class", "card");
			dd.id = 'do' + i.toString();
			var cardhead = document.getElementById('co' + i.toString());
			cardhead.appendChild(dd);
			var newdiv = document.getElementById('do' + i.toString());
			newdiv.appendChild(linker);
			var linker2 = document.createElement('a');
			linker2.setAttribute('href', '/users/delete' + items[i].innerHTML.toString());
			linker2.id = 'ado' + i.toString();
			newdiv.appendChild(linker2);
			var newlink=document.getElementById('ao'+i.toString());
			newlink.appendChild(p);
			var icon = document.createElement('i');
			icon.setAttribute('class','material-icons');
			icon.innerHTML='delete';
			var newlink2 = document.getElementById('ado' + i.toString());
			newlink2.appendChild(icon);			
		}

		for (let i = 0; i < items.length; i++) {
			let istring = i.toString();
			let tempPath = items[i].innerHTML.toString();
			var d = document.createElement('canvas');
			var div = document.getElementById('do' + i.toString());
			d.setAttribute('id', 'o' + istring);
			d.setAttribute('width', '300%');
			d.setAttribute('height', '300%');
			d.setAttribute('style', 'padding:5px 5px 5px 5px');
			div.appendChild(d);
			var viewer = new JSC3D.Viewer(d);
			var logoTimerID = 0;
			viewer.setParameter('SceneUrl', tempPath);
			viewer.setParameter('InitRotationX', 20);
			viewer.setParameter('InitRotationY', 20);
			viewer.setParameter('InitRotationZ', 0);
			viewer.setParameter('ModelColor', '#ffff00');
			viewer.setParameter('BackgroundColor1', '#6A6AD4');
			viewer.setParameter('BackgroundColor2', '#6A6AD4');
			viewer.setParameter('RenderMode', 'flat');
			viewer.setParameter('Renderer', 'webgl');
			//viewer.setParameter('SphereMapUrl', 'chrome.jpg');
			viewer.setParameter('ProgressBar', 'off');
			viewer.init();
			viewer.update();
		}

		z = document.getElementById('remixed');
		x = document.getElementById('remixedlist');
		items = x.getElementsByTagName('li');
		x.style.display = 'none';
		//CREATE DIV AND CARD FOR EACH DESIGN
		for (let i = 0; i < items.length; i++) {
			var card = document.createElement('div');
			card.setAttribute("class", "col-sm-4");
			card.setAttribute("style", "padding-bottom:10px");
			card.id = 'cr' + i.toString();
			z.appendChild(card);
			var dd = document.createElement('div');
			var linker = document.createElement('a');
			linker.setAttribute('href', '/users/design' + items[i].innerHTML.toString());
			linker.id = 'ar' + i.toString();
			var p = document.createElement('p');
			p.innerHTML = items[i].innerHTML.toString().replace(/\/\w+?\//g, '');
			p.align = 'center';
			p.setAttribute("class", "card-header");
			dd.setAttribute("class", "card");
			dd.id = 'dr' + i.toString();
			var cardhead = document.getElementById('cr' + i.toString());
			cardhead.appendChild(dd);
			var newdiv = document.getElementById('dr' + i.toString());
			newdiv.appendChild(linker);
			var newlink = document.getElementById('ar' + i.toString());
			var linker2 = document.createElement('a');
			linker2.setAttribute('href', '/users/delete' + items[i].innerHTML.toString());
			linker2.id = 'adr' + i.toString();
			newdiv.appendChild(linker2);
			newlink.appendChild(p);
			var icon = document.createElement('i');
			icon.setAttribute('class','material-icons');
			icon.innerHTML='delete';
			var newlink2 = document.getElementById('adr' + i.toString());
			newlink2.appendChild(icon);		
		}

		for (let i = 0; i < items.length; i++) {
			let istring = i.toString();
			let tempPath = items[i].innerHTML.toString();
			var d = document.createElement('canvas');
			var div = document.getElementById('dr' + i.toString());
			d.setAttribute('id', 'r' + istring);
			d.setAttribute('width', '300%');
			d.setAttribute('height', '300%');
			d.setAttribute('style', 'padding:5px 5px 5px 5px');
			div.appendChild(d);
			var viewer = new JSC3D.Viewer(d);
			var logoTimerID = 0;
			viewer.setParameter('SceneUrl', tempPath);
			viewer.setParameter('InitRotationX', 20);
			viewer.setParameter('InitRotationY', 20);
			viewer.setParameter('InitRotationZ', 0);
			viewer.setParameter('ModelColor', '#ffff00');
			viewer.setParameter('BackgroundColor1', '#000000');
			viewer.setParameter('BackgroundColor2', '#000000');
			viewer.setParameter('RenderMode', 'flat');
			viewer.setParameter('Renderer', 'webgl');
			//viewer.setParameter('SphereMapUrl', 'chrome.jpg');
			viewer.setParameter('ProgressBar', 'off');
			viewer.init();
			viewer.update();
		}
	}
</script>
