<div class='row'>
	<div class='col'>
	<p class='lead'>
	  Welcome to the Stevens Design Competition. Please create an account to start uploading your designs.<br><br>
          <strong>Reusing other designs is encouraged! Keep an eye on your Recommendations page once you login.</strong>
	</p>
	<p class='lead'>
		<br>Try something new each time, learn from other designs and don't forget to have fun!
	</p>
	</div>
	<div class = 'col'>
	<form method="post" action="/users/login">
		<div class="form-group">
			<input type='text' class="form-control" name="username" placeholder='Username' autofocus>
		</div>
		<div class="form-group">
			<input type='password' class="form-control" name="password" placeholder='Password'>
		</div>
		<button type="submit" align='center' class="btn btn-block btn-primary">Submit</button>
	</form>
	</div>
</div>
