<div style="width:1000px">
  {{#if errors}} {{#each errors}}
  <div class="alert alert-danger">{{msg}}</div>
  {{/each}} {{/if}}
</div>


<div class='container'>
  <form ref='uploadForm' id='uploadForm' action='/users/altupload' name='fileForm' method='post' encType='multipart/form-data'>
  <div class='form-group'>
    <input type='file' name='inputFile' />
    <input type='submit' class='btn btn-default' id='uploader' value='Upload' />
  </div class='form-group'>
  {{! <div class='form-group'> }}
  {{!   Material<br> }}
  {{!   <select name='material' value='Original'> }}
  {{!     <option value='abs' selected>ABS</option> }}
  {{!     <option value='pla'>PLA</option> }}
  {{!     <option value='steel'>Steel</option> }}
  {{!   </select> }}
  {{! </div> }}
  <div class='form-group'>
    <label for='exampleFormControlTextarea1'>Description</label>
    <textarea class='form-control' id='descriptiontext' name='text' rows='3' placeholder='Additional information'></textarea>
  </div>
  <div class='form-group'>
    <select name='type' onchange='handleType(this)' value='Original'>
      <option value='Original' selected>Original</option>
      <option value='Remixed'>Remixed</option>
    </select>
  </div>
  <div id='credit' style='display:none' class='form-group'>
    <textarea class='form-control' name='urls' placeholder="Please enter the URLs of the design(s) you have remixed, seperated by a ';'"></textarea>
  </div>
  </form>
</div>
<script type='text/javascript'>
    function handleType(that) {
      let x = document.getElementById('credit');
      if (that.value == 'Remixed')
        x.style.display = 'block';
      else
        x.style.display = 'none';
    }
</script>
