<div class="container">
        <form action="/users/example" method="POST">
                <div class="form-group">
                        <label for="exampleFormControlInput1">Please enter something!</label>
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" style="width:50%" placeholder="name@example.com">
                        <small id="emailHelp" class="form-text text-muted">Yo!</small>
                </div>
        </form>
</div>
<hr>
