<h2>Recommendations</h2>
<div class='container'>
  <div id='designs' class='row'>
    <ul id='designs-list'>
      {{#each org}}
	<li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <br>
</div>
<br><br><br><br>
<script type="text/javascript" src="/jsc3d.js"></script>
<script type="text/javascript" src="/jsc3d.touch.js"></script>
<script type="text/javascript" src="/jsc3d.console.js"></script>
<script type="text/javascript" src="/external/Sonic/sonic.js"></script>
<script type="text/javascript" src="/timing.js"></script>
<script type="text/javascript" src="/homepage-render.js"></script>
<script type="text/javascript">
window.onload = renderDesigns;
</script>
